@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap");
.almarai-light {
  font-family: "Almarai", serif;
  font-weight: 300;
  font-style: normal;
}

.almarai-regular {
  font-family: "Almarai", serif;
  font-weight: 400;
  font-style: normal;
}

.almarai-bold {
  font-family: "Almarai", serif;
  font-weight: 700;
  font-style: normal;
}

.almarai-extrabold {
  font-family: "Almarai", serif;
  font-weight: 800;
  font-style: normal;
}

body {
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 20px;
  line-height: 1.6;
}
.container {
  max-width: 600px;
  margin: 0 auto 20px auto;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
h1,
h2 {
  color: #bb86fc;
  text-align: center;
}
.prayer-time {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #333;
}
.prayer-name {
  font-weight: bold;
}
.last-third {
  margin-top: 20px;
  padding: 15px;
  background-color: #2d2d2d;
  border-radius: 5px;
  text-align: center;
  border-right: 4px solid #03dac6;
}
.highlight {
  color: #cf6679;
  font-weight: bold;
}
.loading {
  text-align: center;
  font-style: italic;
  color: #bb86fc;
  margin: 20px 0;
}
.error {
  color: #cf6679;
  text-align: center;
  padding: 10px;
  background-color: rgba(207, 102, 121, 0.1);
  border-radius: 5px;
}
.info-section {
  margin-top: 15px;
  background-color: #2d2d2d;
  padding: 15px;
  border-radius: 5px;
}
.hadith-card {
  font-family: "Amiri", serif;
  padding: 25px;
  background-color: #1e1e1e;
  background-image: linear-gradient(to bottom, #2d2d2d, #1e1e1e);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  margin-bottom: 25px;
  border-right: 6px solid #03dac6;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.hadith-header {
  text-align: center;
  color: #bb86fc;
  font-size: 24px;
  margin-bottom: 15px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #444;
  padding-bottom: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}
.hadith-text {
  line-height: 1.8;
  font-size: 19px;
  text-align: justify;
  padding: 10px;
  color: #e0e0e0;
}
.emphasis {
  color: #03dac6;
  font-weight: bold;
}
.btn {
  background-color: #bb86fc;
  color: #000;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Amiri", serif;
  font-weight: bold;
  margin-top: 10px;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: #9966cc;
}